* {
  margin: 0px;
  padding: 0px;
}
.head {
  background-image: url(Assets/Images/top_img.jpg);
  background-position: center center;
  background-size: max(100vw, 1000px);
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
  top: 0;
}
.head .box {
  height: 90vh;
  width: 100%;
  opacity: 0.65;
  position: absolute;
  background-color: black;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 1500;
}
nav img {
  width: 130px;
  height: 130px;
}
.cont {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  color: white;
  padding-top: 150px;
  text-align: center;
  position: relative;
  z-index: 0;
}
.cont #h {
  font-size: 45px;
  font-weight: 900;
}
.cont #sh1,
#sh2 {
  font-size: 25px;
}
.cont #sh2 {
  margin-top: 20px;
}
.txt-box {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 15px;
  position: relative;
  z-index: 1;
  margin-top: 30px;
}
::placeholder {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu,
    sans-serif;
  font-weight: bold;
  position: relative;
  z-index: 1;
  /* Additional styles can be added here */
}
.t1 {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  height: 35px;
  width: 450px;
  font-size: 20px;
  opacity: 80%;
  color: rgb(0, 0, 0);
  border: 2px solid black;
  border-radius: 5px;
}
.btn2 {
  background-color: red;
  height: 58px;
  width: 200px;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu,
    sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: white;
  padding: 10px;
  border: 3px solid red;
  border-radius: 10px;
}
.i1 {
  background-color: red;
  border: 3px solid red;
  color: white;
  font-size: 15px;
  font-weight: 400;
  height: 30px;
  padding: 5px;
  width: 70px;
  border-radius: 5px;
  margin-left: 25px;
}
.filler {
  background-color: rgb(59, 58, 58);
  height: 10px;
}
.sec-cont {
  background-color: black;
  height: 800px;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu,sans-serif;
  color: white;
  font-weight: 900;
  display: flex;
}
.sec-flex {
  padding-left: 150px;
  font-size: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 10px;
  max-width: 40vw;
}
.container {
  margin-top: 200px;
  width: 40vw;
  position: relative;
  z-index: 10;
}
.container img {
  width: 40vw;
  position: absolute;
  z-index: 10;
}
.container video {
  width: 29vw;
  position: absolute;
  top: 96px;
  left: 82px;
}

.sp {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu,sans-serif;
  font-size: 20px;
}
.third-cont,.fourth-cont,.fifth-cont {
  background-color: #000000;
  height: 650px;
}
.third-cont .box3 {
  border: 1px solid grey;
  background-color: black;
  width: 25vw;
  height: 7vw;
  border-radius: 15px;
  margin-left: 130px;
  
}
.box3-flex{
  display: flex;
}
.box3 img {
  padding: 10px;
  width: 60px;
  height: 80px;
}
.box3 .t {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu,sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  position: relative;
  top:40px;
}
.box3 .down {
  position: relative;
  color: blue;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu,sans-serif;
  font-size: 16px;
  position: relative;
  top:60px;
  right:114px;
}
.box3 .d-img{
  padding-top:25px;
  width: 55px;
  height: 55px;
}
.third-para{
  padding-left: 40vw;
  padding-bottom: 50vh;
  margin-top: -60vh;
}
.third-para,.p1,.p2{
  color: white;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu,sans-serif;
  padding-top:20px;
}
.p1{
  font-size: 48px;
  font-weight: 900;
}
.p2{
  font-size: 24px;
  font-weight: 400;
}
.four-flex{
  /* padding-top: 150px; */
  padding-left: 100px;
  display: flex;
  align-items:center;
  font-weight: 900;
  font-size: 48px;
}
.four-cont-flex{
  display: flex;
}
.f-p1,.f-p2{
  flex:1;
  flex-direction: column;
  color: white;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu,sans-serif;
}
.f-p2{
  padding-top: 15px;
  font-weight: 400;
  font-size: 24px;
  flex:1;
  max-width: 600px;
}
.img-cont img{
  position: relative;
  z-index: 15;
}
.img-cont video{
  width: 45%;
  position: relative;
  bottom: 454px;
  left: 102px
}

.fifth-flex{
  display: flex;
}
.fif-flex2{
  display: flex;
  flex-direction: column;
}
.fif-f1,.fif-f2,.faq-title{
  color: white;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu,sans-serif;
}
.fif-f1{
  padding-top: 200px;
  font-size: 48px;
  font-weight: 900;
}
.fif-f2{
  padding-top: 15px;
  font-size: 24px;
  font-weight: 400;
}

.faq{
  background-color: #000000;
  height: 1000px;
}
.faq-title{
  padding-top: 100px;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
}
.faq-flex{
  display: flex;
  flex-direction: column;
}
.faq-b1{
  margin-top: 20px;
  border: 3px solid rgb(45, 45, 45);
  margin-left: 180px;
  width:80vw;
  height:30px;
  background-color: rgb(45, 45, 45);
  border-radius:5px;
  font-size: 24px;
  color: white;
  padding:20px;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu,sans-serif;
}